{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
      }
    ],
    "react",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "mobx-deep-action",
    "transform-object-rest-spread",
    "babel-plugin-transform-decorators-legacy",
    "syntax-dynamic-import",
    "transform-class-properties",
  ]
}
